<!--<app-event-card *ngFor="let event of eventsService.events"></app-event-card>-->
<div class="result-info">
<!--  If there is an error while getting results from the Ticketmaster API, display error message instead of events count-->
  <h2 *ngIf="this.error == '' else errorBlock">Showing {{eventsService.totalElements | number}} Events</h2>
  <ng-template #errorBlock><h2>{{this.error}}</h2></ng-template>
</div>
<div
  infinite-scroll
  [infiniteScrollDistance]="distance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScroll()"
>
<div class="card-list">
<!--  loop through event objects loop-->
    <div class="event-card" *ngFor="let event of eventsService.events">
<!--      source picture for event card-->
      <img [src]="event.picture" alt="Avatar" style="width:100%">
<!--      Show info for specific event-->
      <div class="event-info">
        <p>{{event.name}}</p>
        <p>{{event.startDate | date:'MM/dd/yyyy'}}</p>
        <p>{{event.venue}}</p>
        <a href="{{event.link}}">Event Link</a>
        <p>Performers: <p *ngFor="let performer of event.performers">{{performer.name}}</p>
      </div>
    </div>
</div>
</div>
