.event-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 20px;
  width: 400px;
}

/* On mouse-over, add a deeper shadow */
.event-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.result-info {
  padding-left: 20px;
}

/* Add some padding inside the card container */
.event-info {
  padding: 2px 16px;
}

div#event-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tickets-button {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(2, 77, 223);
  width: 110px;
  padding: 10px;
}

span.mat-mdc-button-persistent-ripple.mdc-button__ripple {
  background: rgb(2, 77, 223);
}

span.mdc-button__label {
  color: white;
}

.ticket-link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 15px 0px 15px 0px;
}

.event-info p {
  font-weight: bold;
}
