<!--<app-event-card *ngFor="let event of eventsService.events"></app-event-card>-->
<div class="result-info">
  <h2>Showing {{eventsService.totalElements}} Events</h2>
</div>
<div
  infinite-scroll
  [infiniteScrollDistance]="distance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScroll()"
>
<div class="card-list">
<!--  loop through event objects loop-->
    <div class="event-card" *ngFor="let event of eventsService.events">
<!--      source picture for event card-->
      <img [src]="event.picture" alt="Avatar" style="width:100%">
<!--      Show info for specific event-->
      <div class="event-info">
        <p>{{event.name}}</p>
        <p>{{event.startDate | date:'MM/dd/yyyy'}}</p>
        <p>{{event.venue}}</p>
        <a href="{{event.link}}">Event Link</a>
        <p>Performers: <p *ngFor="let performer of event.performers">{{performer.name}}</p>
      </div>
    </div>
</div>
</div>
<!--  <div class="pagination">-->
<!--    Page {{pages[0]?.number + 1}} of {{pages[0]?.size + 1}}-->
<!--  </div>-->
  Add buttons for pagination and binding to send page request to load more results, gray out prev button if set to page 1 (0) and gray out next page button if on last page
<!--</div>-->

