<!--<app-event-card *ngFor="let event of eventsService.events"></app-event-card>-->
<div class="result-info">
<!--  If there is an error while getting results from the Ticketmaster API, display error message instead of events count-->
  <h2 *ngIf="this.error == '' else errorBlock">Showing {{eventsService.totalElements | number}} Events</h2>
  <ng-template #errorBlock><h2>{{this.error}}</h2></ng-template>
</div>
<div
  infinite-scroll
  [infiniteScrollDistance]="distance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScroll()"
>
<div class="card-list">
<!--  loop through event objects loop-->
    <div class="event-card" *ngFor="let event of eventsService.events">
<!--      source picture for event card-->
      <img [src]="event.picture" alt="Avatar" style="width:100%">
<!--      Show info for specific event-->
      <div class="event-info">
        <h3>{{event.name}}</h3>
        <p>{{event.venue}}</p>
        <!--        Date format: Fri, Apr 12 • 7:30 PM-->
        <p>{{event.startDate | date:'EEE, MMM d • h:mm a'}}</p>
        <span>Performers: </span>
    <span *ngFor="let performer of event.performers; let i=index">
<!--      Display comma delimited list of performers and omit comma if displaying last performer-->
      <span>{{performer.name}}</span><span *ngIf="i!=event.performers.length-1">, </span>
    </span>
      </div>
      <div class="ticket-link">
        <a class="tickets-button" mat-flat-button href="{{event.link}}" target="_blank">Find Tickets</a>
      </div>
    </div>
</div>
</div>
